.oh-my-zsh
.ipython
.ansible
workspace
Library
.subversion
.vim
.aws
.bin
.docker
.gnupg
.ssh
.tmuxinator
.vscode
.extra
yarn.lock

# Must keep like it is
.config/*
!.config/karabiner
.config/karabiner/*
!.config/karabiner/karabiner.json
