.oh-my-zsh
.ipython
.ansible
workspace
Library
.subversion
.vim
.aws
.bin
.docker
.gnupg
.mackup
.ssh
.tmuxinator
.vscode
yarn.lock

.config/*
!.config/karabiner
.config/karabiner/*
!.config/karabiner/karabiner.json
